{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(placeholder="insert terms", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_checkbox(field) %}
  <dt>{{ field(**kwargs)|safe }} {{ field.label }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_integer(field) %}
  <dt>{{ field.label }} &nbsp {{ field(size="1", maxlength="1", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_usage_checkbox(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}