<!DOCTYPE html>
<html lang="en">
<head>
    <script language="JavaScript">
    function toggle(source, cname) {
      checkboxes = document.getElementsByName(cname);
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
    </script>
    <style>
    td.termcol {
        text-align: left;
        width: 98%
    }

    td.checkcol {
        text-align: center;
        width: 2%;
    }
    
    th.termcol {
        text-align: left;
        width: 98%
    }

    th.checkcol {
        text-align: center;
        width: 2%;
    }
    
    table.termtable {
        border-collapse: separate;
        width: 12%;
    }
    </style>
    <title>MO410 - Query Expansion</title>
</head>
<body leftmargin="20">
    <h1> Query Expansion </h1>
    {% from "_formhelpers.html" import render_field %}
    {% from "_formhelpers.html" import render_checkbox %}
    {% from "_formhelpers.html" import render_integer %}
    <form method=post action="/qexpansion">
      <dl>
        {{ render_field(form.keywords) }}
        <br />
        {{ render_checkbox(form.query_exp) }}
        {{ render_integer(form.depth) }}
      </dl>
      <p><input type=submit value=Expand>
      </form>
      <br />
      {% if ( expansion and oterm )%}
          <form method=post action="/searchsniic">
          
          <h1> Expanded Terms </h1>
          
          {% if expansion.original %}
              <h2>Original Terms</h2>
              <table class="termtable">
              <tr align="center">
                <th class="termcol">Term</th>
              </tr>
              {% for term in expansion.original %}
                  <tr>
                      <td class="termcol"> {{ term }} </td> 
                  </tr>
              {% endfor %}
              </table>
          {% endif %}
           
          {% if expansion.synonyms %}
              <h2>Synonyms</h2>
              <table class="termtable">
              <tr align="center">
                <th class="termcol">Term</th>
                <th class="termcol">Use?</th> 
              </tr>
              {% for term, href in expansion.synonyms %}
                  <tr>
                      <td class="termcol"> <a href={{href}}>{{ term }}</a></td> 
                      <td class="checkcol"> <input type=checkbox name="term_synonym" value="{{ term }}"></td>
                  </tr>
              {% endfor %}
                  <tr style="height: 40px;">
                      <th class="termcol"> Check All </td> 
                      <th class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_synonym')"></td>
                  </tr>
              </table>
          {% endif %}

          {% if expansion.generic %}           
              <h2>Generic</h2>
              <table class="termtable">
              <tr align="center">
                <th class="termcol">Term</th>
                <th class="termcol">Use?</th> 
              </tr>
              {% for term, href in expansion.generic %}
                  <tr>
                      <td class="termcol"> <a href={{href}}>{{ term }}</a></td> 
                      <td class="checkcol"> <input type=checkbox name="term_generic" value="{{ term }}"></td>
                  </tr>
              {% endfor %}
                  <tr style="height: 40px;">
                      <th class="termcol"> Check All </td> 
                      <th class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_generic')"></td>
                  </tr>
              </table>
          {% endif %}
              
          {% if expansion.narrower %}
              <h2>Narrower</h2>
              <table class="termtable">
              <tr align="center">
                <th class="termcol">Term</th>
                <th class="termcol">Use?</th> 
              </tr>
              {% for term, href in expansion.narrower %}
                  <tr>
                      <td class="termcol"> <a href={{href}}>{{ term }}</a></td>  
                      <td class="checkcol"> <input type=checkbox name="term_narrower" value="{{ term }}"></td>
                  </tr>
              {% endfor %}
                  <tr style="height: 40px;">
                      <th class="termcol"> Check All </td> 
                      <th class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_narrower')"></td>
                  </tr>
              </table>
          {% endif %}
              
          {% if expansion.related %}
              <h2>Related</h2>
              <table class="termtable">
              <tr align="center">
                <th class="termcol">Term</th>
                <th class="termcol">Use?</th> 
              </tr>
              {% for term, href in expansion.related %}
                  <tr>
                      <td class="termcol"> <a href={{href}}>{{ term }}</a></td>  
                      <td class="checkcol"> <input type=checkbox name="term_related" value="{{ term }}"></td>
                  </tr>
              {% endfor %}
                  <tr style="height: 40px;">
                      <th class="termcol"> Check All </td> 
                      <th class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_related')"></td>
                  </tr>
              </table>             
          {% endif %}
          
          <br />
          <input type="text" name="original_term" hidden value="{{oterm}}">
          <p><input type=submit name="query" value="Search">
          </form>
      {% endif %}
</body>
</html>
