<!DOCTYPE html>
<html lang="en">
<head>
    <script language="JavaScript">
    var checked_terms = []
    function toggle(source, cname) {
        checkboxes = document.getElementsByName(cname);
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    
    function write_term(source) {
        term_r_field = document.getElementsByName("used_terms")[0];
      
        term_r_field.value = "";
        var tpos = checked_terms.indexOf(source.value);
        console.log("tpos: " + tpos);
        console.log("checked: " + source.checked);
        
        if(source.checked && tpos == -1){
            checked_terms.push(source.value);
        }
        else if(!source.checked && tpos != -1){
            checked_terms.splice(tpos, 1);
        }
        
        term_r_field.value = checked_terms.join(" + ")
        
        console.log(term_r_field.value)
    }
    
    function write_all_terms(cname) {
        checkboxes = document.getElementsByName(cname);
        for(var i=0, n=checkboxes.length;i<n;i++) {
            write_term(checkboxes[i]);
        }
    
    }
    </script>
    <style>

    body, h1, h2{
    	margin: 0px;
    	padding: 0px;
    	font-family: Arial, sans-serif;
    }

    a{
    	text-decoration: none;
    }

    h1{
    	text-align: center;
    	margin-bottom: 10px;
    }

    h2{
    	margin-bottom: 10px;
    }

    div.query-expansion, div.expanded-terms{
    	width: 1024px;
    	margin: 20px auto;
    }

    div.box-terms{
    	margin: 0 auto 10px auto;
    	padding: 10px;
    	width: 500px;
    }

    .expanded-terms div.box-terms{
    	border-bottom: #ccc solid 1px;
    }

    input.btn{
    	background-color: #eee;
    	color: black;
    	border: 1px solid #ccc;
    	padding: 5px 10px;
    	width: 100%;
    }

    div.query-expansion dt:first-child{
    	float: left;
    	padding-right: 10px;
    }

    .termcol {
        text-align: left;
        width: 98%
    }

    .checkcol {
        text-align: center;
        width: 2%;
    }
    
    .termtable {
        border-collapse: separate;
        width: 100%;
    }
    
    .terms_read_field{
    	width: 100%;
    	height: ;
    	margin-bottom: 10px;
    }
    </style>
    <title>MO410 - Query Expansion</title>
</head>
<body leftmargin="20">

	<div class="query-expansion">

	    <h1> Query Expansion </h1>

		<div class="box-terms">
		    {% from "_formhelpers.html" import render_field %}
		    {% from "_formhelpers.html" import render_checkbox %}
		    {% from "_formhelpers.html" import render_integer %}
		    <form method=post action="/qexpansion">
				<dl>
					{{ render_field(form.keywords) }}
					<br />
					{{ render_checkbox(form.query_exp) }}
					<br />
					{{ render_integer(form.depth) }}
				</dl>
				<input class="btn" type=submit value=Expand>
			</form>
		</div>
		{% if ( expansion )%}

	</div>

	<div class="expanded-terms">

		<form method=post action="/searchsniic">
          
			<h1> Expanded Terms </h1>

			<div class="box-terms">
			{% if expansion.original %}
				<h2>Original Terms</h2>
				<table class="termtable">
					<tr align="center">
						<th class="termcol">Term</th>
						<!--<th class="checkcol">Use?</th> -->
					</tr>
					{% for term in expansion.original %}

					<tr>
						<td class="termcol"> {{ term }} </td> 
						<!--<td class="checkcol"> <input type=checkbox name="term_original" value="{{ term }}"></td>-->
					</tr>
					{% endfor %}

					<!--<tr style="height: 40px;">
						<td class="termcol"> Check All </td> 
						<td class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_original')"></td>
					</tr>-->
				</table>
			{% endif %}
			</div>

			<div class="box-terms">
			{% if expansion.synonyms %}
				<h2>Synonyms</h2>
				<table class="termtable">
					<tr align="center">
						<th class="termcol">Term</th>
						<th class="checkcol">Use?</th> 
					</tr>
					{% for term, href in expansion.synonyms %}

					<tr>
						<td class="termcol"> <a href={{href}}>{{ term }}</a></td>
						<td class="checkcol"> <input type=checkbox name="term_synonym" value="{{ term }}" class="check_rel" onClick="write_term(this)"></td>
					</tr>
					{% endfor %}

					<tr style="height: 40px;">
						<td class="termcol"> Check All </td> 
						<td class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_synonym'); write_all_terms('term_synonym');"></td>
					</tr>
				</table>
			{% endif %}
			</div>

			<div class="box-terms">   
			{% if expansion.generic %}        
				<h2>Generic</h2>
				<table class="termtable">
					<tr align="center">
						<th class="termcol">Term</th>
						<th class="checkcol">Use?</th> 
					</tr>
					{% for term, href in expansion.generic %}

					<tr>
						<td class="termcol"> <a href={{href}}>{{ term }}</a></td>
						<td class="checkcol"> <input type=checkbox name="term_generic" value="{{ term }}" class="check_rel" onClick="write_term(this)"></td>
					</tr>
					{% endfor %}

					<tr style="height: 40px;">
						<td class="termcol"> Check All </td> 
						<td class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_generic'); write_all_terms('term_generic');"></td>
					</tr>
				</table>
			{% endif %}
			</div>

			<div class="box-terms">
			{% if expansion.narrower %}
				<h2>Narrower</h2>
				<table class="termtable">
					<tr align="center">
						<th class="termcol">Term</th>
						<th class="checkcol">Use?</th> 
					</tr>
					{% for term, href in expansion.narrower %}

					<tr>
						<td class="termcol"> <a href={{href}}>{{ term }}</a></td>
						<td class="checkcol"> <input type=checkbox name="term_narrower" value="{{ term }}" class="check_rel" onClick="write_term(this)"></td>
					</tr>
					{% endfor %}

					<tr style="height: 40px;">
						<td class="termcol"> Check All </td> 
						<td class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_narrower'); write_all_terms('term_narrower');"></td>
					</tr>
				</table>
			{% endif %}
			</div>

			<div class="box-terms">
			{% if expansion.related %}
				<h2>Related</h2>
				<table class="termtable">
					<tr align="center">
						<th class="termcol">Term</th>
						<th class="checkcol">Use?</th> 
					</tr>
					{% for term, href in expansion.related %}

					<tr>
						<td class="termcol"> <a href={{href}}>{{ term }}</a></td>
						<td class="checkcol"> <input type=checkbox name="term_related" value="{{ term }}" class="check_rel" onClick="write_term(this)"></td>
					</tr>
					{% endfor %}

					<tr style="height: 40px;">
						<td class="termcol"> Check All </td> 
						<td class="checkcol"> <input type=checkbox onClick="toggle(this, 'term_related'); write_all_terms('term_related');"></td>
					</tr>
				</table>       
			{% endif %}
			</div>  

			<div class="box-terms">
				<input type="text" class="terms_read_field" name="used_terms" value="" readonly><br><br>
                <input type="radio" name="sniic_field" value="agent" checked>Agentes <br>
                <input type="radio" name="sniic_field" value="event" checked>Eventos <br>
                <input type="radio" name="sniic_field" value="project" checked>Projetos <br>
                <input type="radio" name="sniic_field" value="space" checked>Espaços <br>
				<input class="btn" type=submit name="query" value="Search">
			</div>

		</form>
		{% endif %}
	</div>

</body>
</html>
