<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.css"/>

  
<style type="text/css">
div.container { max-width: 1200px }
.dataTables_wrapper { font-size: 14px }
</style>

</head>
<body>
<div id="test"></div>
<h2 id="objectType">Consulta com expansão em: </h2>

<table id="example" class="display" width="100%"></table>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.colVis.min.js"></script>

<script type="text/javascript" src="script.js"></script>
<script>
 $(document).ready(function() {
     
     var name     = {{names|safe}};
     var longdes  = {{longdes|safe}};
     var shortdes = {{shortdes|safe}};
     
     console.log(name)

	 // IMPORTANTE = tipo de objeto do sniic que pode ser event, agent, project, space
	 var objectType = {{sniic_field|safe}} 
	
	 var searchTerms    = {{terms|safe}};
     var principalTerm  = searchTerms[0];  
	
	 $('<i>'+objectType+'</i>').appendTo('#objectType');
     
     var table;
	 // Atributos que nao consigo acessar owner.name, owner.shortDescription, owner.longDescription
	 $.getJSON(
	  'http://mapas.cultura.gov.br/api/'+ objectType +'/find',
	  {
	      '@select': 'id, name, shortDescription, longDescription', 
		  '@type': 'json',
		  '@or': 1,
		  'name': name,
		  'longDescription': longdes, 
		  'shortDescription': shortdes
	  }, 
	  function (response){ 
		  console.log(response); 	
	
		  var key, count = 0;
		  for(key in response) {
		  if(response.hasOwnProperty(key)) {
			 count++;
		    }
		  }	

		  if (count == 0) {
			  table = $('#example').dataTable( {
				  "columnDefs": [ {
					"targets": 0,
					"data": null // Use the full data source object for the renderer's source
				  } ]
			  } );
          }
		  else {
			  var cols = [];
			  var exampleRecord = response[0];
			  
			  //get keys in object. This will only work if your statement remains true that all objects have identical keys
			  var keys = Object.keys(exampleRecord);
			  
			  //for each key, add a column definition
			  keys.forEach(function(k) {
				cols.push({
				  title: k,
				  data: k
				  //optionally do some type detection here for render function
				});
			  });
			  
			  //initialize DataTables
			  table = $('#example').DataTable({
				responsive: true,
				dom: 'Bfrtip',
				buttons: [
					'colvis'
				],			
				columns: cols,
				"columnDefs": [
							{
								"targets": [ 0 ], //Deixa o campo id invisivel como default
								"visible": false,
								"searchable": true
							}
							]				
			  });
			  
			  //add data and draw
			  table.rows.add(response).draw();
			  table.responsive= true;
			  		 
			  //IMPORTANTE: define a cor do boldface para os termos
			  $('td').wrapInTag({"words" : searchTerms});                           // termos de expansão
			  $('td').wrapInTag({"words" : [principalTerm], "principal" : 'blue'}); // termo principal
		  }
	  });

	
	  var eventFired = function ( type ) {
			table.draw(false);
		    console.log('Disparou evento'); 	
 			$('td').wrapInTag({"words" : searchTerms});                           // termos de expansão
			$('td').wrapInTag({"words" : [principalTerm], "principal" : 'blue'}); // termo principal			
	  }
	  $('#example').on('page.dt',   function () { eventFired( 'Page' ); } )


	  // http://stackoverflow.com/a/9795091
	  $.fn.wrapInTag = function (opts) {
      // http://stackoverflow.com/a/1646618
      function getText(obj) {
         return obj.textContent ? obj.textContent : obj.innerText;
      }

      var tag = opts.tag || 'strong',
        principal = opts.principal || 'black',  //preto padrao, azul para principal, e preto para os termos de expansão
		words = opts.words || [],
        regex = RegExp(words.join('|'), 'gi'),
        replacement = '<' + tag + ' style=color:'+ principal +'>$&</' + tag + '>';

      // http://stackoverflow.com/a/298758
      $(this).contents().each(function () {
        if (this.nodeType === 3) //Node.TEXT_NODE ou 3
        {
            // http://stackoverflow.com/a/7698745
            $(this).replaceWith(getText(this).replace(regex, replacement));
        }
        else if (!opts.ignoreChildNodes) {
            $(this).wrapInTag(opts);
        }
      });
};
});
</script>
</body>
</html>
